---
layout: layout.njk
title: "Programs | Praxis Initiative"
permalink: /programs/index.html
---
<h1>Programs</h1>
<ul>
  <li><a href="/programs/prison-oversight.html">Independent Prison Oversight</a></li>
  <li><a href="/programs/legal-reform.html">Criminal Legal System Reform</a></li>
  <li><a href="/programs/drug-policy.html">Drug Policy & Overdose Prevention</a></li>
  <li><a href="/programs/core-civics.html">Core Civics & Advocacy Training</a></li>
  <li><a href="/programs/arts-in-prison.html">Arts in Prison – Think Motion</a></li>
</ul>
